.navbar-custom {
    background-color: #343a40; /* Fondo gris oscuro */
    color: white; /* Texto blanco por defecto */
    width: 100%;   
  }
  
  .bg-dark text-light .nav-link,
  .navbar-custom .navbar-brand,
  .navbar-custom .dropdown-item {
    color: white !important; /* Asegura que el texto sea blanco */
  }
  
  .bg-dark text-light .dropdown-menu {
    background-color: #343a40; /* Fondo gris oscuro para el menú desplegable */
  }
  
  .nav-link {   
    color: white !important;   
}
.dropdown-menu {
    --bs-dropdown-bg: #343a40 !important;
    --bs-dropdown-link-hover-bg: var(--primary-color)!important;
}
.bg-dark {
    background-color: #343a40 !important;    
}

.navbar-custom {
    background-color:var(--primary-color)!important; /* Fondo gris oscuro */
    color: white; /* Texto blanco por defecto */
    width: 100%;
    --bs-navbar-padding-y: 1.5rem;
   
  }
 
.nav-divider {
    border-left: 1px solid #ccc; /* Color de la línea */
    height: 40px; /* Altura de la línea, puede ajustarse */
    margin: 0 10px; /* Margen alrededor de la línea */
  }

.navbar-custom2{
    background-color: #f5f3f3 !important;
    color: black !important;
    width: 100%; 
    border: 1px solid #ddd;
    border-radius: 0 0 100px 0;
    padding-left: 20px; /
 } 

.navbar-custom2 .dropdown-menu {
    --bs-dropdown-bg: #343a40 !important;
    --bs-dropdown-link-hover-bg: var(--primary-color)!important;
}

.navbar-custom2 .nav-link {   
    color: rgb(3, 3, 3) !important;   
}

.navbar-custom1{
    --bs-navbar-padding-y:0px !important;
}

.navbar-custom1 {
    padding-left: 250px; /* Valor por defecto */
}

.quad-container {

    position: absolute;
    top: 0%; /* Ajusta la distancia desde la parte superior */
    left: 11%; /* Ajusta la posición horizontal */
    transform: translateX(-50%); /* Centra horizontalmente */
    width: 150px; /* Ajusta el tamaño del círculo */
    height: 130px; /* Ajusta el tamaño del círculo */    
    background-color: #f0f0f0; /* Ajusta el color de fondo */
    display: flex; /* Opcional, para centrar el contenido */
    align-items: center; /* Opcional, para centrar verticalmente */
    justify-content: center; /* Opcional, para centrar horizontalmente */
    z-index: 2; /* Asegura que el círculo esté encima del navbar */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Ajusta la sombra aquí */


  }


.circle-container {
    position: absolute;
    top: 5%; /* Ajusta la distancia desde la parte superior */
    left: 11%; /* Ajusta la posición horizontal */
    transform: translateX(-50%); /* Centra horizontalmente */
    width: 20vw; /* Tamaño relativo al ancho de la ventana */
    height: 20vw; /* Tamaño relativo al ancho de la ventana */
    max-width: 150px; /* Tamaño máximo */
    max-height: 150px; /* Tamaño máximo */
    border-radius: 50%; /* Hace el contenedor circular */
    background-color: #f0f0f0; /* Ajusta el color de fondo */
    display: flex; /* Opcional, para centrar el contenido */
    align-items: center; /* Opcional, para centrar verticalmente */
    justify-content: center; /* Opcional, para centrar horizontalmente */
    z-index: 3; /* Asegura que el círculo esté encima del navbar */
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3); /* Ajusta la sombra aquí */

  }

  .circle-container img{
    width: 100%;
    height: 100%;
  }

  @media (max-width: 550px) {
    .circle-container {
        top: 3%; /* Ajusta según sea necesario */
        width: 20vw; /* Tamaño relativo para pantallas más pequeñas */
        height: 20vw; /* Tamaño relativo para pantallas más pequeñas */
        left: 50%;
    }
    .quad-container {
        top: 0%; /* Ajusta según sea necesario */
        width: 20vw; /* Tamaño para pantallas más pequeñas */
        height: 17vw; /* Tamaño para pantallas más pequeñas */
        left: 50%;
    }
}
@media (max-width: 768px) {
    .circle-container {
        top: 3%; /* Ajusta según sea necesario */
        width: 20vw; /* Tamaño relativo para pantallas más pequeñas */
        height: 20vw; /* Tamaño relativo para pantallas más pequeñas */
        left: 50%;
    }
    .quad-container {
        top: 0%; /* Ajusta según sea necesario */
        width: 20vw; /* Tamaño para pantallas más pequeñas */
        height: 15vw; /* Tamaño para pantallas más pequeñas */
        left: 50%;
    }
}
@media (min-width: 769px)  and (max-width: 991px) {
    .circle-container {
        top: 3%; /* Ajusta según sea necesario */
        width: 20vw; /* Tamaño relativo para pantallas más pequeñas */
        height: 20vw; /* Tamaño relativo para pantallas más pequeñas */
        left: 50%;
    }
    .quad-container {
        top: 0%; /* Ajusta según sea necesario */
        width: 150px; /* Tamaño para pantallas más pequeñas */
        height: 110px; /* Tamaño para pantallas más pequeñas */
        left: 50%;
    }
}


/* Padding para pantallas pequeñas */
@media (max-width: 767.98px) {
    .navbar-custom1 {
        padding-left: 10px; /* Ajusta el padding para pantallas pequeñas */
    }
}

/* Padding para pantallas medianas */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-custom1 {
        padding-left: 15px; /* Ajusta el padding para pantallas medianas */
    }
    .navbar-custom {
        padding-left: 15px; /* Ajusta el padding para pantallas medianas */
    }
}

/* Padding para pantallas grandes */
@media (min-width: 992px) {
    .navbar-custom1 {
        padding-left: 250px; /* Ajusta el padding para pantallas grandes */
    }
    .navbar-custom {
        padding-left: 250px; /* Ajusta el padding para pantallas medianas */
    }
}


  




  

  