form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 640px;
}
label{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 20px;
}
.homeDiv{
    display: grid;
    justify-content: center;
    align-content: baseline;
    margin-top: 20px;
    padding: 32px;

}
.formInput{
    width: 100%;
    display: flex;
}
.row{ 
    margin: 0;
}
.homeDiv h1{
    text-align: center;
    margin-bottom: 32px;
    font-size: 40px;
}
label{
    font-size: 24px;
    font-weight: 550;
    color: var(--primary-color);
}
.attached{
    width: fit-content;
    background-color: var( --button-secondary-color);
    color: var(--primary-color);
    
}
#crearBtn{
    margin-top: 28px;
    font-size: 20px;
    justify-self: center;
}