.homeDiv{

}

.homeDiv h1{
    color: var(--primary-color);
    font-size: 32px;
}
.homeDiv .buttonP{
    background-color: var(--button-color);
    color: #fff;
    padding: 6px;
    gap: 8px;
    display: flex;
    align-items: center;
    width: 224px;
    justify-content: center;
    height: 48px;
    margin-top: 16px;
}
.homeDiv .buttonP:hover{
    background-color: var(--primary-color)
}