.eventsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  
}

.eventCard {
  width: 280px;
  height: 280px;
  margin: 10px;
  border-radius: 8px;
  display: grid;
  background-color: var(--button-secondary-color);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23687D2AFF' stroke-width='2' stroke-dasharray='8%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 12px;
  padding: 16px;
  justify-content: center;
    align-content: center;
    gap: 8px;
}
.eventCard h3 {
  color: #000;
  font-size: 24px;
  text-align: center;
}
.eventCard span{
    font-size: 16px;
    text-align: center;
}
.eventCard a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
}
